.registerIntroduceWrap .inner {
  padding-top: 135px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.registerIHead {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 45px;
}

.registerHeadTitle {
  display: inline-block;
  font-size: 32px;
  font-weight: bold;
  letter-spacing: normal;
  text-align: center;
  color: #000;

  margin-bottom: 35px;
}

.registerIBody {
  width: var(--main-width);
  margin-bottom: 140px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.registerFormWrap form {
  display: flex;
  flex-direction: column;
  padding: 30px;
  justify-content: center;
  width: 440px;
  border-radius: 20px;
  border: solid 1px #e9ebf2;
  background-color: #fff;
}

.registerInnerSec {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 40px;
}

.registerSecHead {
  font-size: 16px;
  font-weight: bold;
  text-align: left;
  color: #000;
  padding-bottom: 30px;
  border-bottom: 1px solid #f4f4f4;
  margin-bottom: 20px;
}

.registerFormWrap input,
.registerFormWrap select {
  font-size: 18px;
  font-weight: 500;
  padding: 0 20px;
  height: 60px;
  width: 100%;
  outline: none;
}

.registerFormWrap select {
  background-image: url(../images/icon/arrow-down.svg);
  background-position: right 20px center;
  background-repeat: no-repeat;
}

select {
  border: 1px solid #c8c8c8;
  padding: 5px 10px;
}
option {
  color: #111;
}
select:required:invalid {
  font-size: 18px;
  font-weight: 500;
  color: #d6d6d6;
}
option[value=""][disabled] {
  display: none;
}

.registerFormWrap input::placeholder {
  font-size: 18px;
  font-weight: 500;
  text-align: left;
  color: #d6d6d6;
}

.registerInputWrap {
  border-radius: 8px;
  border: solid 1px #dedede;
  background-color: #fff;
  overflow: hidden;
}

.registerInputWrap:focus-within {
  border: 1px solid rgb(255, 136, 0);
}

.registerInputWrap:last-child {
  margin-top: 14px;
}

.registerInputWrap input,
.registerInputWrap div {
  border-bottom: 1px solid #f4f4f4;
}

.registerInputWrap input:last-child {
  border-bottom: none !important;
}

.registerInputWrap div:last-child {
  border-bottom: none !important;
}

.registerInputSol:focus {
  border: 1px solid rgb(255, 136, 0);
}

.registerInputSol {
  border-radius: 8px;
  border: solid 1px #dedede;
  background-color: #fff;
  margin-top: 14px;
}

.modal {
  margin-top: 20px;
  padding: 20px;
  background-color: rgb(255, 136, 0);
  text-align: left;
}

.registerBusinessInputWrap {
  display: flex;
  margin-top: 14px;
  border-radius: 8px;
  border: solid 1px #dedede;
}

.registerBusinessInputWrap:focus-within {
  border: 1px solid rgb(255, 136, 0);
}

.registerInputBusiness {
  width: calc(100% - 105px) !important;
  border-bottom: none !important;
}

.registerCheckBusinessbtn {
  border-bottom-right-radius: 7px;
  border-top-right-radius: 7px;
  width: 105px;
  background-color: #d6d6d6;
  font-size: 16px;
  font-weight: 500;
  color: #fff;
}

.registerCheckBusinessbtn.active {
  background-color: #505050;
  color: #fff;
}

.registerInputSol:nth-child(2) {
  margin-top: 0;
}

.registerEmailInputWrap {
  display: flex;
  border-bottom: none !important;
}

.registerInputEmail {
  width: calc(100% - 116px) !important;
  border-bottom: none !important;
}

.registerCheckBtn {
  width: 116px;
  background-color: #d6d6d6;
  font-size: 16px;
  font-weight: 500;
  color: #fff;
}

.registerCheckBtn.active {
  background-color: #505050;
  color: #fff;
}

.inputPassword {
  width: 100% !important;
}

.input-input {
  display: flex;
  align-items: center;
}

.registerInputWrap input:last-child,
.registerInputWrap div:last-child {
  border-bottom: 1px solid #f4f4f4;
}

.loginBtn {
  width: 100%;
  height: 60px;
  margin-bottom: 10px;
  border-radius: 30px;
  background-color: #505050;
  font-size: 18px;
  font-weight: 500;
  color: #fff;
}

.loginBtn.active {
  background-color: #fc8118;
}

.registerBackBtn {
  width: 380px;
  height: 60px;
  object-fit: contain;
  border-radius: 29.5px;
  background-color: #e5e6e9;
  font-size: 18px;
  margin-top: 20px;
  font-weight: 500;
  color: #7e7e7e;
}

.registerPasswordWrap {
  position: relative;
}

.rEyes {
  display: block;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  right: 20px;
  cursor: pointer;
  padding: 10px;
  width: 20px;
  height: 20px;
  background-image: url(../images/main/m-input-pw.svg);
  background-size: contain;
}

.rEyes.visible {
  background-image: url(../images/main/m-input-pw__v.png);
}

.passwordCheckInput::after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  right: 20px;
  width: 20px;
  height: 20px;
  background-image: url(../images/icon/input-access.svg);
  background-size: contain;
}

@media (max-width: 700px) {
  .registerFormWrap form {
    padding: 20px;
  }

  .registerIHead {
    margin-bottom: 60px;
  }

  .registerSecHead {
    padding-bottom: 20px;
    margin-bottom: 20px;
  }

  select:required:invalid {
    font-size: 14px;
  }

  .registerFormWrap input::placeholder {
    font-size: 14px;
  }

  .registerBusinessInputWrap input::placeholder {
    font-size: 12px;
  }

  .registerCheckBtn,
  .registerCheckBusinessbtn {
    font-size: 14px;
  }

  .registerFormWrap input,
  .registerFormWrap select {
    font-size: 14px;
  }

  .registerInputSol,
  .registerInputWrap:last-child {
    margin-top: 10px;
  }

  .registerLastSec {
    margin-bottom: 67px !important;
  }

  .registerBackBtn {
    width: 398px;
    font-size: 15px;
  }

  .loginBtn {
    font-size: 15px;
  }

  .registerIBody {
    margin-bottom: 100px;
  }

  .registerIHead {
    margin-bottom: 0px;
  }
}

@media (max-width: 500px) {
  .registerFormWrap form {
    width: 343px;
  }

  .registerFormWrap input,
  .registerFormWrap select {
    height: 58px;
  }

  .registerLoginBtn,
  .registerBackBtn {
    height: 50px;
    font-size: 14px;
  }

  .registerBackBtn {
    width: 301px;
  }
}
