.introduce-wrap .inner {
  padding-top: 135px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.i-head {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;
}

.head-title {
  display: inline-block;
  font-size: 32px;
  font-weight: bold;
  letter-spacing: normal;
  text-align: center;
  color: #000;

  margin-bottom: 35px;
}

.head-link {
  display: flex;
}

.head-link-a {
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #7e7e7e;
  padding-bottom: 8px;
  margin-right: 40px;
}

.head-link-a:last-child {
  margin-right: 0;
}

.head-link-a.active {
  font-weight: bold;
  color: #ff7500;
  border-bottom: 2px solid #ff7500;
}

.i-body {
  width: var(--main-width);
  margin-bottom: 160px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.i-body-info {
  width: 1000px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 100px;
}

.i-body-info:last-child {
  margin-bottom: 0;
}

.i-body-info-lead {
  width: 40%;
  display: flex;
  flex-direction: column;
}

.i-body-info-img {
  width: 40%;
}

.i-body-info-lead-span1 {
  font-size: 30px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #000;
  margin-bottom: 20px;
}
.i-body-info-lead-span2 {
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.57;
  letter-spacing: normal;
  text-align: left;
  color: #969696;
  word-break: keep-all;
}

/* guide-wrap */

.guide-wrap .inner {
  width: 100%;
}

.g-title {
  display: inline-block;
  width: var(--main-width);
  font-size: 24px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #000;

  margin-bottom: 50px;
}

.g-process {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.g-process-info {
  font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #000;

  margin-bottom: 30px;
}

.g-process-img {
  width: 100%;
  padding: 60px 80px;
  background-color: #fafafa;
  border-radius: 20px;
}

.br-f-mo2 {
  display: none;
}

.br-f-add {
  display: none;
}

@media (max-width: 1200px) {
  .i-body-info {
    width: var(--main-width);
  }

  .i-body-info-lead,
  .i-body-info-img {
    width: 47.5%;
  }
}

@media (max-width: 1024px) {
  .g-process-img {
    padding: 40px;
  }

  .g-title {
    font-size: 21px;
  }
}

@media (max-width: 800px) {
  .br-f-mo {
    display: none;
  }
}

@media (max-width: 700px) {
  .i-body-info {
    flex-direction: column;
  }

  .i-body-info:last-child {
    flex-direction: column-reverse;
  }

  .i-body-info {
    width: 100%;
    margin-bottom: 60px;
    justify-content: center;
    align-items: center;
  }

  .i-body-info-lead {
    width: 100%;
    margin-bottom: 60px;
  }

  .i-body-info-lead-span1,
  .i-body-info-lead-span2 {
    width: 100%;
    display: inline-block;
    text-align: center;
  }

  .i-body-info-img {
    width: 300px;
  }

  .i-body-info-lead-span1 {
    font-size: 26px;
    margin-bottom: 15px;
    text-align: center;
  }

  .i-body {
    width: var(--main-width);
    margin-bottom: 80px;
  }

  .br-f-mo2 {
    display: block;
  }

  .g-process-img {
    padding: 20px;
    border-radius: 10px;
  }

  .g-title {
    font-size: 18px;
    margin-bottom: 30px;
  }

  .g-process-info {
    font-size: 14px;
    margin-bottom: 20px;
  }

  .i-head {
    margin-bottom: 60px;
  }

  .br-f-remove {
    display: none;
  }

  .br-f-add {
    display: block;
  }
}

@media (max-width: 500px) {
  .i-body-info-lead-span1 {
    font-size: 18px;
  }

  .i-body-info-lead-span1,
  .i-body-info-lead-span2 {
    text-align: left;
  }

  .i-body-info-lead-span1 {
    text-align: left;
  }

  .i-body-info-img {
    width: 256px;
  }
}
