.check-box {
  width: calc((100% - 120px) / 4);
  display: flex;
  flex-direction: column;
  padding: 30px;
  border-radius: 24px;
  background-color: #fff;
  align-items: center;
  margin-right: 40px;
  height: 180px;
  margin-top: 35px;
  transition: height 0.5s ease;
}

.check-box.active {
  height: 345px;
}

.check-box:nth-child(n + 1):nth-child(-n + 4) {
  margin-top: 0;
}

.check-box:nth-child(4n) {
  margin-right: 0;
}

.check-box-img {
  width: 220px;
  height: 50px;
  white-space: nowrap;
  object-fit: cover;
}

.check-box-input {
  width: 100%;
  height: 50px;
  padding: 0 15px;
  border-radius: 8px;
  border: solid 1px #dedede;
  background-color: #fff;
  margin-bottom: 5px;
  cursor: text;
  font-family: "montserrat";
  font-size: 16px;
  font-weight: normal;
}

.check-box-input:focus {
  outline: none !important;
  border: 1px solid rgb(255, 136, 0);
}

.check-box-input-pw {
  margin-bottom: 0;
  padding-right: 35px;
}

.check-box-input::placeholder {
  color: #d6d6d6;
  font-weight: bold;
}

.check-box-form {
  height: 0;
  opacity: 1;
  overflow: hidden;
  position: relative;
  /* transition: 1s linear;
    transition-delay: 0.5s; */
  pointer-events: none;
}

.check-box-btn2 {
  display: none;
  margin-top: 10px !important;
}

.check-box.active .check-box-btn2 {
  display: block;
}

.check-box.active .check-box-form {
  height: auto;
  pointer-events: all;
}

.eyes {
  display: block;
  opacity: 0;
  transition: opacity 0.3s ease;
  transition-delay: 0.35s;
  position: absolute;
  right: 10px;
  bottom: 15px;
  cursor: pointer;
  padding: 10px;

  width: 20px;
  height: 20px;
  background-image: url(../../assets/images/main/m-input-pw.svg);
  background-size: contain;
}

.check-box.active .eyes {
  opacity: 1;
}

.eyes.visible {
  background-image: url(../../assets/images/main/m-input-pw__v.png);
}

.check-box-input-pw {
  padding-right: 40px;
}

.check-box-btn {
  width: 138px;
  height: 50px;
  object-fit: contain;
  border-radius: 25px;

  font-size: 16px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  text-align: center;
  color: #fff;
  background-color: #505050;
  margin-top: 20px;
}

.check-box-btn.active {
  background-color: #fc8118;
}

@media (max-width: 1300px) {
  .check-box {
    width: calc((100% - 70px) / 3);
    margin-right: 35px;
  }

  .check-box:nth-child(n + 1):nth-child(-n + 3) {
    margin-top: 0;
  }

  .check-box:nth-child(n + 1):nth-child(-n + 4) {
    margin-top: 35px;
  }

  .check-box:nth-child(n + 1):nth-child(-n + 3) {
    margin-top: 0;
  }

  .check-box:nth-child(n + 1):nth-child(-n + 2) {
    margin-top: 0;
  }

  .check-box:nth-child(4n) {
    margin-right: 35px;
    margin-top: 35px;
  }

  .check-box:nth-child(3n) {
    margin-right: 0;
  }

  .check-box:first-child {
    margin-top: 0 !important;
  }
}

@media (max-width: 900px) {
  .check-box-form {
    width: 220px;
  }

  .check-box-input {
    width: 220px;
  }

  .visual-main-lead {
    width: 100%;
    margin-bottom: 40px;
  }

  .check-box {
    width: calc((100% - 30px) / 2);
    margin-right: 30px;
  }

  .check-box:nth-child(n + 1):nth-child(-n + 3) {
    margin-top: 35px;
  }

  .check-box:nth-child(n + 1):nth-child(-n + 2) {
    margin-top: 0;
  }

  .check-box:nth-child(3n) {
    margin-right: 30px;
  }

  .check-box:nth-child(2n) {
    margin-right: 0;
  }
}

@media (max-width: 700px) {
  .check-box-img {
    height: 40px;
  }
}

@media (max-width: 600px) {
  .check-box {
    width: 100%;
    margin-right: 0;
  }

  .check-box:nth-child(3n) {
    margin-right: 0;
  }

  .check-box:nth-child(n + 1):nth-child(-n + 2) {
    margin-top: 30px;
  }

  .check-box-img {
    height: 50px;
  }
}
